@font-face {
  font-family: 'font-icon-tgic';
  src:  url('fonts/font-icon-tgic.eot?jyhlly');
  src:  url('fonts/font-icon-tgic.eot?jyhlly#iefix') format('embedded-opentype'),
    url('fonts/font-icon-tgic.ttf?jyhlly') format('truetype'),
    url('fonts/font-icon-tgic.woff?jyhlly') format('woff'),
    url('fonts/font-icon-tgic.svg?jyhlly#font-icon-tgic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-icon-tgic' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-cart:before {
  content: "\a100";
}
.icon-add-cart-solid:before {
  content: "\a101";
}
.icon-alert-triangle:before {
  content: "\a102";
}
.icon-alert-triangle-solid:before {
  content: "\a103";
}
.icon-arrow-down:before {
  content: "\a104";
}
.icon-arrow-down-solid:before {
  content: "\a105";
}
.icon-arrow-left:before {
  content: "\a106";
}
.icon-arrow-right:before {
  content: "\a107";
}
.icon-arrow-up:before {
  content: "\a108";
}
.icon-arrow-up-solid:before {
  content: "\a109";
}
.icon-bell:before {
  content: "\a10a";
}
.icon-bell-solid:before {
  content: "\a10b";
}
.icon-blog-feed:before {
  content: "\a10c";
}
.icon-bookmark:before {
  content: "\a10d";
}
.icon-bookmark-1:before {
  content: "\a10e";
}
.icon-bookmark-1-solid:before {
  content: "\a10f";
}
.icon-bullhorn:before {
  content: "\a110";
}
.icon-calendar:before {
  content: "\a111";
}
.icon-calendar-1:before {
  content: "\a112";
}
.icon-camera:before {
  content: "\a113";
}
.icon-camera-solid:before {
  content: "\a114";
}
.icon-cargo-truck:before {
  content: "\a115";
}
.icon-cart:before {
  content: "\a116";
}
.icon-cart-solid:before {
  content: "\a117";
}
.icon-chat:before {
  content: "\a118";
}
.icon-check:before {
  content: "\a119";
}
.icon-checked-circle:before {
  content: "\a11a";
}
.icon-checked-circle-solid:before {
  content: "\a11b";
}
.icon-chevron-down:before {
  content: "\a11c";
}
.icon-chevron-left:before {
  content: "\a11d";
}
.icon-chevron-right:before {
  content: "\a11e";
}
.icon-chevron-up:before {
  content: "\a11f";
}
.icon-circle-loading:before {
  content: "\a120";
}
.icon-clock:before {
  content: "\a121";
}
.icon-clock-solid:before {
  content: "\a122";
}
.icon-comment-solid:before {
  content: "\a123";
}
.icon-dashboard:before {
  content: "\a124";
}
.icon-dashboard-solid:before {
  content: "\a125";
}
.icon-delivery-done:before {
  content: "\a126";
}
.icon-download:before {
  content: "\a127";
}
.icon-download-solid:before {
  content: "\a128";
}
.icon-edit:before {
  content: "\a129";
}
.icon-eye:before {
  content: "\a12a";
}
.icon-eye-off:before {
  content: "\a12b";
}
.icon-facebook:before {
  content: "\a12c";
}
.icon-facebook-solid:before {
  content: "\a12d";
}
.icon-file-pdf:before {
  content: "\a12e";
}
.icon-file-pdf-solid:before {
  content: "\a12f";
}
.icon-filter:before {
  content: "\a130";
}
.icon-filter-solid:before {
  content: "\a131";
}
.icon-gift:before {
  content: "\a132";
}
.icon-gift-solid:before {
  content: "\a133";
}
.icon-grid:before {
  content: "\a134";
}
.icon-grid-solid:before {
  content: "\a135";
}
.icon-heart:before {
  content: "\a136";
}
.icon-heart-solid:before {
  content: "\a137";
}
.icon-home:before {
  content: "\a138";
}
.icon-home-1:before {
  content: "\a139";
}
.icon-home-1-solid:before {
  content: "\a13a";
}
.icon-help-circle:before {
  content: "\a13b";
}
.icon-help-circle-solid:before {
  content: "\a13c";
}
.icon-notice:before {
  content: "\a13d";
}
.icon-notice-solid:before {
  content: "\a13e";
}
.icon-info:before {
  content: "\a13f";
}
.icon-info-solid:before {
  content: "\a140";
}
.icon-info-circle-solid:before {
  content: "\a141";
}
.icon-instagram:before {
  content: "\a142";
}
.icon-instagram-solid:before {
  content: "\a143";
}
.icon-key:before {
  content: "\a144";
}
.icon-link:before {
  content: "\a145";
}
.icon-linkedin:before {
  content: "\a146";
}
.icon-linkedin-solid:before {
  content: "\a147";
}
.icon-list:before {
  content: "\a148";
}
.icon-location:before {
  content: "\a149";
}
.icon-location-solid:before {
  content: "\a14a";
}
.icon-logout:before {
  content: "\a14b";
}
.icon-mail:before {
  content: "\a14c";
}
.icon-mail-solid:before {
  content: "\a14d";
}
.icon-menu:before {
  content: "\a14e";
}
.icon-messenger:before {
  content: "\a14f";
}
.icon-microchip:before {
  content: "\a150";
}
.icon-money:before {
  content: "\a151";
}
.icon-newspaper:before {
  content: "\a152";
}
.icon-paper-plane:before {
  content: "\a153";
}
.icon-pcb-assembly:before {
  content: "\a154";
}
.icon-pcb-instant:before {
  content: "\a155";
}
.icon-pcb-smd-stencil:before {
  content: "\a156";
}
.icon-pending-task:before {
  content: "\a157";
}
.icon-phone:before {
  content: "\a158";
}
.icon-phone-1:before {
  content: "\a159";
}
.icon-phone-1-solid:before {
  content: "\a15a";
}
.icon-pinterest:before {
  content: "\a15b";
}
.icon-pinterest-solid:before {
  content: "\a15c";
}
.icon-play:before {
  content: "\a15d";
}
.icon-printer-outline:before {
  content: "\a15e";
}
.icon-printer-solid:before {
  content: "\a15f";
}
.icon-rohs:before {
  content: "\a160";
}
.icon-settings:before {
  content: "\a161";
}
.icon-settings-solid:before {
  content: "\a162";
}
.icon-share:before {
  content: "\a163";
}
.icon-share-solid:before {
  content: "\a164";
}
.icon-shopping-basket:before {
  content: "\a165";
}
.icon-solid-phone:before {
  content: "\a166";
}
.icon-sync:before {
  content: "\a167";
}
.icon-task-list:before {
  content: "\a168";
}
.icon-tgic-search:before {
  content: "\a169";
}
.icon-tiktok:before {
  content: "\a16a";
}
.icon-times:before {
  content: "\a16b";
}
.icon-times-bold:before {
  content: "\a16c";
}
.icon-tool-fix:before {
  content: "\a16d";
}
.icon-trash:before {
  content: "\a16e";
}
.icon-trash-solid:before {
  content: "\a16f";
}
.icon-twitter:before {
  content: "\a170";
}
.icon-twitter-new:before {
  content: "\a171";
}
.icon-twitter-new-solid:before {
  content: "\a172";
}
.icon-twitter-solid:before {
  content: "\a173";
}
.icon-user:before {
  content: "\a174";
}
.icon-user-1:before {
  content: "\a175";
}
.icon-user-1-solid:before {
  content: "\a176";
}
.icon-user-plus:before {
  content: "\a177";
}
.icon-world:before {
  content: "\a178";
}
.icon-youtube:before {
  content: "\a179";
}
.icon-youtube-1:before {
  content: "\a17a";
}
.icon-youtube-1-solid:before {
  content: "\a17b";
}
.icon-zalo:before {
  content: "\a17c";
}
