@font-face {
  font-family: 'font-icon-admin-lkx';
  src:  url('fonts/font-icon-admin-lkx.eot?2p9vds');
  src:  url('fonts/font-icon-admin-lkx.eot?2p9vds#iefix') format('embedded-opentype'),
    url('fonts/font-icon-admin-lkx.ttf?2p9vds') format('truetype'),
    url('fonts/font-icon-admin-lkx.woff?2p9vds') format('woff'),
    url('fonts/font-icon-admin-lkx.svg?2p9vds#font-icon-admin-lkx') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ad-tgic {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-icon-admin-lkx' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.adm-rohs:before {
  content: "\e9d9";
}
.adm-shape-square:before {
  content: "\e9d8";
}
.adm-shape-circle:before {
  content: "\e971";
}
.adm-exit-full-screen:before {
  content: "\e910";
}
.adm-full-screen:before {
  content: "\e911";
}
.adm-download:before {
  content: "\e90e";
}
.adm-fire:before {
  content: "\e90f";
}
.adm-more-h:before {
  content: "\e90a";
}
.adm-more-v:before {
  content: "\e90b";
}
.adm-solid-more-h:before {
  content: "\e90c";
}
.adm-solid-more-v:before {
  content: "\e90d";
}
.adm-group-users:before {
  content: "\e901";
}
.adm-solid-group-users:before {
  content: "\e902";
}
.adm-heart:before {
  content: "\e903";
}
.adm-solid-heart:before {
  content: "\e904";
}
.adm-arrows-down:before {
  content: "\e914";
}
.adm-arrows-left:before {
  content: "\e915";
}
.adm-arrows-right:before {
  content: "\e916";
}
.adm-arrows-up:before {
  content: "\e917";
}
.adm-equal:before {
  content: "\e938";
}
.adm-bank:before {
  content: "\e918";
}
.adm-solid-bank:before {
  content: "\e97b";
}
.adm-bell:before {
  content: "\e919";
}
.adm-solid-bell:before {
  content: "\e97d";
}
.adm-body:before {
  content: "\e91b";
}
.adm-solid-body:before {
  content: "\e97e";
}
.adm-solid-bug-alt:before {
  content: "\e97f";
}
.adm-bug-alt:before {
  content: "\e91c";
}
.adm-area:before {
  content: "\e913";
}
.adm-solid-area:before {
  content: "\e97a";
}
.adm-calendar-check:before {
  content: "\e91d";
}
.adm-solid-calendar-check:before {
  content: "\e980";
}
.adm-calendar-edit:before {
  content: "\e91e";
}
.adm-solid-calendar-edit:before {
  content: "\e981";
}
.adm-camera:before {
  content: "\e91f";
}
.adm-solid-camera:before {
  content: "\e982";
}
.adm-cart-add:before {
  content: "\e920";
}
.adm-solid-cart-add:before {
  content: "\e983";
}
.adm-cart-download:before {
  content: "\e921";
}
.adm-solid-cart-download:before {
  content: "\e984";
}
.adm-chart:before {
  content: "\e922";
}
.adm-solid-chart:before {
  content: "\e985";
}
.adm-check:before {
  content: "\e924";
}
.adm-check-bold:before {
  content: "\e925";
}
.adm-check-square:before {
  content: "\e926";
}
.adm-solid-check-square:before {
  content: "\e988";
}
.adm-chevron-down:before {
  content: "\e927";
}
.adm-chevron-left:before {
  content: "\e928";
}
.adm-chevron-right:before {
  content: "\e929";
}
.adm-chevron-up:before {
  content: "\e92a";
}
.adm-chip:before {
  content: "\e92b";
}
.adm-solid-chip:before {
  content: "\e98d";
}
.adm-cog:before {
  content: "\e92c";
}
.adm-solid-cog:before {
  content: "\e98e";
}
.adm-comment-detail:before {
  content: "\e92d";
}
.adm-solid-comment-detail:before {
  content: "\e98f";
}
.adm-conversation:before {
  content: "\e92e";
}
.adm-solid-conversation:before {
  content: "\e990";
}
.adm-chat:before {
  content: "\e923";
}
.adm-solid-chat:before {
  content: "\e986";
}
.adm-copy:before {
  content: "\e92f";
}
.adm-solid-copy:before {
  content: "\e991";
}
.adm-credit-card:before {
  content: "\e930";
}
.adm-solid-credit-card:before {
  content: "\e992";
}
.adm-credit-card-alt:before {
  content: "\e931";
}
.adm-solid-credit-card-alt:before {
  content: "\e993";
}
.adm-data:before {
  content: "\e932";
}
.adm-solid-data:before {
  content: "\e995";
}
.adm-delivery:before {
  content: "\e933";
}
.adm-solid-delivery:before {
  content: "\e996";
}
.adm-solid-truck:before {
  content: "\e9be";
}
.adm-dollar-circle:before {
  content: "\e934";
}
.adm-solid-dollar-circle:before {
  content: "\e905";
}
.adm-envelope:before {
  content: "\e937";
}
.adm-solid-envelope:before {
  content: "\e999";
}
.adm-file-export:before {
  content: "\e93c";
}
.adm-solid-file-export1:before {
  content: "\e906";
}
.adm-file-import:before {
  content: "\e93e";
}
.adm-solid-file-import1:before {
  content: "\e907";
}
.adm-file-plus:before {
  content: "\e93f";
}
.adm-solid-file-plus:before {
  content: "\e99f";
}
.adm-filter-alt:before {
  content: "\e940";
}
.adm-solid-filter-alt:before {
  content: "\e908";
}
.adm-folder:before {
  content: "\e941";
}
.adm-solid-folder:before {
  content: "\e9a0";
}
.adm-home:before {
  content: "\e944";
}
.adm-home-alt:before {
  content: "\e945";
}
.adm-solid-home-alt:before {
  content: "\e9a2";
}
.adm-image:before {
  content: "\e946";
}
.adm-solid-image:before {
  content: "\e9a4";
}
.adm-images:before {
  content: "\e947";
}
.adm-error-alt:before {
  content: "\e939";
}
.adm-solid-error-alt:before {
  content: "\e99a";
}
.adm-info-circle:before {
  content: "\e948";
}
.adm-solid-info-circle:before {
  content: "\e9a5";
}
.adm-info-square:before {
  content: "\e949";
}
.adm-solid-info-square:before {
  content: "\e9a6";
}
.adm-help-circle:before {
  content: "\e942";
}
.adm-solid-help-circle:before {
  content: "\e9a1";
}
.adm-hide:before {
  content: "\e943";
}
.adm-show:before {
  content: "\e975";
}
.adm-key:before {
  content: "\e94a";
}
.adm-layer:before {
  content: "\e94b";
}
.adm-line-chart:before {
  content: "\e94c";
}
.adm-paperclip:before {
  content: "\e960";
}
.adm-paperclip-1:before {
  content: "\e961";
}
.adm-link:before {
  content: "\e94d";
}
.adm-list-link:before {
  content: "\e94e";
}
.adm-solid-list-link:before {
  content: "\e9a7";
}
.adm-share-link:before {
  content: "\e972";
}
.adm-solid-share-link:before {
  content: "\e9b5";
}
.adm-file:before {
  content: "\e93a";
}
.adm-file-blank:before {
  content: "\e93b";
}
.adm-solid-file-blank:before {
  content: "\e99b";
}
.adm-file-find:before {
  content: "\e93d";
}
.adm-solid-file-find:before {
  content: "\e99d";
}
.adm-solid-file-export:before {
  content: "\e99c";
}
.adm-solid-file-import:before {
  content: "\e99e";
}
.adm-list-ul:before {
  content: "\e94f";
}
.adm-loading:before {
  content: "\e950";
}
.adm-logo-linhkienx:before {
  content: "\e951";
}
.adm-logo-linhkienx-sm:before {
  content: "\e952";
}
.adm-logo-tgic:before {
  content: "\e953";
}
.adm-log-out:before {
  content: "\e954";
}
.adm-upload:before {
  content: "\e9cf";
}
.adm-map:before {
  content: "\e955";
}
.adm-solid-map:before {
  content: "\e9a8";
}
.adm-menu:before {
  content: "\e956";
}
.adm-menu-alt-left:before {
  content: "\e957";
}
.adm-microchip:before {
  content: "\e959";
}
.adm-solid-microchip:before {
  content: "\e9a9";
}
.adm-minus-circle:before {
  content: "\e95a";
}
.adm-solid-minus-circle:before {
  content: "\e909";
}
.adm-money:before {
  content: "\e95b";
}
.adm-network-chart:before {
  content: "\e95c";
}
.adm-solid-network-chart:before {
  content: "\e9aa";
}
.adm-solid-news:before {
  content: "\e9ab";
}
.adm-news:before {
  content: "\e95d";
}
.adm-notepad:before {
  content: "\e95e";
}
.adm-solid-notepad:before {
  content: "\e9ac";
}
.adm-package:before {
  content: "\e95f";
}
.adm-paper-plane:before {
  content: "\e962";
}
.adm-solid-paper-plane:before {
  content: "\e9ad";
}
.adm-blog:before {
  content: "\e91a";
}
.adm-edit:before {
  content: "\e935";
}
.adm-solid-edit:before {
  content: "\e997";
}
.adm-edit-alt:before {
  content: "\e936";
}
.adm-solid-edit-alt:before {
  content: "\e998";
}
.adm-message-square-edit:before {
  content: "\e958";
}
.adm-solid-message-square-edit:before {
  content: "\e900";
}
.adm-pencil:before {
  content: "\e963";
}
.adm-solid-pencil:before {
  content: "\e9ae";
}
.adm-pin:before {
  content: "\e964";
}
.adm-solid-pin:before {
  content: "\e9af";
}
.adm-plus:before {
  content: "\e965";
}
.adm-plus-medical:before {
  content: "\e966";
}
.adm-plus-square:before {
  content: "\e967";
}
.adm-solid-plus-square:before {
  content: "\e9b0";
}
.adm-printer:before {
  content: "\e968";
}
.adm-solid-printer:before {
  content: "\e9b1";
}
.adm-purchase-tag:before {
  content: "\e969";
}
.adm-qr-scan:before {
  content: "\e96a";
}
.adm-redo:before {
  content: "\e96b";
}
.adm-refresh:before {
  content: "\e96c";
}
.adm-rss:before {
  content: "\e96d";
}
.adm-save:before {
  content: "\e96e";
}
.adm-solid-save:before {
  content: "\e9b3";
}
.adm-send:before {
  content: "\e970";
}
.adm-solid-send:before {
  content: "\e9b4";
}
.adm-shopping-bag:before {
  content: "\e974";
}
.adm-solid-shopping-bag:before {
  content: "\e9b7";
}
.adm-solid-shopping-bags:before {
  content: "\e9b8";
}
.adm-sitemap:before {
  content: "\e976";
}
.adm-slideshow:before {
  content: "\e977";
}
.adm-solid-slideshow:before {
  content: "\e9b9";
}
.adm-smile:before {
  content: "\e978";
}
.adm-solid-smile:before {
  content: "\e9ba";
}
.adm-angry:before {
  content: "\e912";
}
.adm-solid-angry:before {
  content: "\e979";
}
.adm-shocked:before {
  content: "\e973";
}
.adm-solid-shocked:before {
  content: "\e9b6";
}
.adm-solid-bar-chart-alt-2:before {
  content: "\e97c";
}
.adm-solid-check-circle:before {
  content: "\e987";
}
.adm-solid-chevron-down:before {
  content: "\e989";
}
.adm-solid-chevron-left:before {
  content: "\e98a";
}
.adm-solid-chevron-right:before {
  content: "\e98b";
}
.adm-solid-chevron-up:before {
  content: "\e98c";
}
.adm-solid-dashboard:before {
  content: "\e994";
}
.adm-solid-hourglass:before {
  content: "\e9a3";
}
.adm-solid-product-hunt:before {
  content: "\e9b2";
}
.adm-store:before {
  content: "\e9c9";
}
.adm-solid-store:before {
  content: "\e9bb";
}
.adm-solid-user-account:before {
  content: "\e9bf";
}
.adm-user-check:before {
  content: "\e9d0";
}
.adm-solid-user-check:before {
  content: "\e9c0";
}
.adm-user-circle:before {
  content: "\e9d1";
}
.adm-solid-user-circle:before {
  content: "\e9c1";
}
.adm-user-pin:before {
  content: "\e9d2";
}
.adm-solid-user-pin:before {
  content: "\e9c2";
}
.adm-solid-user-rectangle:before {
  content: "\e9c3";
}
.adm-star:before {
  content: "\e9c8";
}
.adm-task:before {
  content: "\e9ca";
}
.adm-task-x:before {
  content: "\e9cb";
}
.adm-time:before {
  content: "\e9cc";
}
.adm-solid-time:before {
  content: "\e9bc";
}
.adm-trash:before {
  content: "\e9cd";
}
.adm-solid-trash:before {
  content: "\e9bd";
}
.adm-unity:before {
  content: "\e9ce";
}
.adm-user-voice:before {
  content: "\e9d3";
}
.adm-solid-user-voice:before {
  content: "\e9c4";
}
.adm-warehouse:before {
  content: "\e9d4";
}
.adm-solid-warehouse:before {
  content: "\e9c5";
}
.adm-x-circle:before {
  content: "\e9d7";
}
.adm-solid-x-circle:before {
  content: "\e9c7";
}
.adm-wrench:before {
  content: "\e9d5";
}
.adm-solid-wrench:before {
  content: "\e9c6";
}
.adm-search:before {
  content: "\e96f";
}
.adm-x:before {
  content: "\e9d6";
}
